.sidebar {
    background-color: rgba(14, 5, 113, 1);
    position: fixed;
    height: 100vh;
    padding: 10px;
    overflow-y: auto;
    border-right: 1px solid white;
}

.sidebar.closed {
    background-color: rgba(14, 5, 113, 0);
    border: none;
}

.toggle-button {
    background-color: #766eec; 
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 10px; 
    border-radius: 5px;
    box-shadow: 3px 3px 12px;
}
